.awards {
    background-color: #122947;
    color: #fff;
    text-align: center;
}
.awards .heading {
    display: flex;
    flex-direction: row-reverse;
}
.awards .heading h1{
    color: #fff;
    font-style: 30px;
    font-weight: 400;
}