.price {
    text-align: center;
}
.price .content .box {
    width: 31.5%;
    padding: 30px;
    border-radius: 10px;
}
.price button {
    margin-bottom: 20px;
}
.price .box:nth-child(1),
.price .box:nth-child(3) {

}
