.price {
    text-align: center;
}
.price .content .box {
    width: 31.5%;
    padding: 30px;
    border-radius: 10px;
}
.price button {
    margin-bottom: 20px;
}
.price .box:nth-child(1) .topbtn button,
.price .box:nth-child(3) .topbtn button {
display: none;
}
.price h3 {
    font-size: 22px;
}
.price h1 {
    font-size: 60px;
}
.price span {
    font-size: 30px;
}
